body {
    font-family: Arial;
    margin:30px;
    background:#f4f4f4;}
.card{
    background:white;
    padding:15px;
    margin-bottom:15px;
    border-radius:8px;}
button{
    padding:6px 10px;
    margin-top:8px;
    border-radius:6px;
    border:none;
    background:blue;
    color:white;
    cursor:pointer}
input,select{width:100%;
    padding:6px;
    margin:4px 0;
    border-radius:
    6px;
    border:1px solid #ccc}
.hidden{display:none}
.task{border:1px solid #ddd;
    padding:10px;
    margin-top:10px;
    border-radius:6px}
